<form [formGroup]="loginForm">
  <label for="username">Username</label>
  <input id="username" type="text" formControlName="username" autoComplete="username webauthn">
  <div *ngIf="!showRegisterInputs">
    <button type="button" class="primary" [disabled]="!buttonsActive" (click)="login()">Login with Webauthn</button>
    {{ ' or ' }}
    <button type="button" class="secondary" [disabled]="!buttonsActive" (click)="register()">Register</button>
  </div>
  <div class="status-text" layout-margin *ngIf="statusText" [ngStyle]="{'color': statusColor}">
    {{ statusText }}
  </div>
  <div *ngIf="showRegisterInputs">
    <label for="firstname">Given name</label>
    <input id="firstname" type="text" formControlName="firstname">
    <label for="lastname">Family name</label>
    <input id="lastname" type="text" formControlName="lastname">
    <button type="button" class="primary" (click)="register()">Register with Webauthn</button>
    {{ ' or ' }}
    <button type="button" class="secondary" (click)="hideRegister()">Back to Login</button>
  </div>
</form>
