.status-text {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.center {
  width: 500px;
  margin: auto;
}

.listing-photo {
  height: 600px;
  width: 50%;
  object-fit: cover;
  border-radius: 30px;
  float: right;
}

.listing-heading {
  font-size: 48pt;
  font-weight: bold;
  margin-bottom: 15px;
}

.listing-location::before {
  content: url('/assets/location-pin.svg') / '';
}

.listing-location {
  font-size: 24pt;
  margin-bottom: 15px;
}

.listing-features > .section-heading {
  color: var(--secondary-color);
  font-size: 24pt;
  margin-bottom: 15px;
}

.listing-features {
  margin-bottom: 20px;
}

.listing-features li {
  font-size: 14pt;
}

li {
  list-style-type: none;
}

.listing-apply .section-heading {
  font-size: 18pt;
  margin-bottom: 15px;
}

label, input {
  display: block;
}
label {
  color: var(--secondary-color);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12pt;
}
input {
  font-size: 16pt;
  margin-bottom: 15px;
  padding: 10px;
  width: 400px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid .3px;
}
@media (max-width: 1024px) {
  .listing-photo {
    width: 100%;
    height: 400px;
  }
}

.login {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login > input {
  background-color: rgb(213, 213, 213);
  border-radius: 100px;
  border: none;
  margin: 0px 0px 40px 0px;
  font-size: 15px;
  padding: 15px;
}

.login > label {
  margin: 20px 0px 30px 0px;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 30px;
  text-transform: unset;
  display: flex;
  justify-content: center;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.controls > button {
  width: 200px;
  border-radius: 100px;
  max-width: 200px;
  margin-bottom: 10px;
}

.controls > label {
  color: unset;
  font-size: 10px;
  font-weight: unset;
  text-transform: unset;
}

.button-link {
  text-decoration: underline;
  color: purple;
  background-color: transparent;
  border: none;
  cursor: pointer;
}